<nav>
    <ul>
        <li><a href="/admin">Admin Panel</a></li>
        <li><a href="/editMainPage">Edit Main Page</a></li>
        <li><a href="/editAboutPage">Edit About Us Page</a></li>
        <li><a href="/addAdmin">Add New Admin</a></li>
      <li><a href="/deleteAdmin">Delete Admin</a></li>
    </ul>
</nav>