<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Panel</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="adminPanel.css">
  </head>
  <body style="background-color: <%= MainPageContent.bgcolor %>;">
    <h1>Admin panel</h1>
    <ul>
      <li><a href="/editMainPage">Edit Main Page</a></li>
      <li><a href="/editAboutPage">Edit About Us Page</a></li>
      <li><a href="/addAdmin">Add New Admin</a></li>
      <li><a href="/deleteAdmin">Delete Admin</a></li>
    </ul>
    <br>
    <div>
      <a href="/logout"><button>Log Out</button></a>
    </div>
</body>
</html>
