<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delete Admin</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="addAdmin.css" />
    <style>
      form{
        margin-top: 130px;
        height: 170px;
      }
    </style>
  </head>
  <body style="background-color: <%= MainPageContent.bgcolor %>;">
    <ul>
        <li><a href="/admin">Admin Panel</a></li>
    </ul>
    <div class="form">
      <form action="/deleteAdmin" method="POST">
        <label>Delete Admin</label>
        <input type="text" name="username" required/>
        <input type="text" name="password" required/>
        <button type="submit">Delete</button>
      </form>
    </div>
  </body>
</html>
