<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit content</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="MainPageEdit.css">
</head>
<body style="background-color: <%= MainPageContent.bgcolor %>;">
    <ul>
        <li><a href="/admin">Admin Panel</a></li>
        <li><a href="/about">About Us Page</a></li>
        <li><a href="/addAdmin">Add New Admin</a></li>
        <li><a href="/deleteAdmin">Delete Admin</a></li>
    </ul>
    <h1>Edit About Us Page</h1>

    <div class="form">
        <form action="/editAboutPage" method="POST">
            <textarea type="text" name="h1About" required><%= AboutPageContent.h1about %></textarea>
            <textarea type="text" name="p1About" required><%= AboutPageContent.pabout %></textarea>
            <textarea type="text" name="p2About" required><%= AboutPageContent.p2about %></textarea>
            <button type="submit">Save</button>
        </form>
    </div>
</body>
</html>
