<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error role</title>
    <style>
      body {
        background-color: rgb(95, 16, 16);
      }
      div {
        flex-direction: column;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
      }
      a{
        color: white;
      }
    </style>
  </head>
  <body>
    <div>
      <h1>
        У вас нет доступа к этой странице, так как у вас недопустимый ранг
        админа. Обратитесь к главному админу проекта.
      </h1>
      <a href="/admin">Admin Panel</a>
    </div>
  </body>
</html>
