<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="galleryStyles.css">
</head>
<body>
    <%- include('adminNavbar') %>
    <br>
    <h1>Gallery</h1>
    <br>
    <div class="images">
        <div class="row">
            <div class="img1 img">
                <img src="images/img1.jpg" alt="Image1">
                <a href="images/img1.jpg" download="Image1">
                    Download
                </a>
            </div>
            <div class="img2 img">
                <img src="images/img2.jpg" alt="Image1">
                <a href="images/img2.jpg" download="Image1">
                    Download
                </a>
            </div>
            <div class="img3 img">
                <img src="images/img3.jpg" alt="Image1">
                <a href="images/img3.jpg" download="Image1">
                    Download
                </a>
            </div>
        </div>
        <div class="row">
            <div class="img4 img">
                <img src="images/img4.jpg" alt="Image1">
                <a href="images/img4.jpg" download="Image1">
                    Download
                </a>
            </div>
            <div class="img5 img">
                <img src="images/img5.jpg" alt="Image1">
                <a href="images/img5.jpg" download="Image1">
                    Download
                </a>
            </div>
            <div class="img6 img">
                <img src="images/img6.jpg" alt="Image1">
                <a href="images/img6.jpg" download="Image1">
                    Download
                </a>
            </div>
        </div>
        <div class="row">
            <div class="img7 img">
                <img src="images/img7.jpg" alt="Image1">
                <a href="images/img7.jpg" download="Image1">
                    Download
                </a>
            </div>
            <div class="img8 img">
                <img src="images/img8.jpeg" alt="Image1">
                <a href="images/img8.jpeg" download="Image1">
                    Download
                </a>
            </div>
            <div class="img9 img">
                <img src="images/img9.jpeg" alt="Image1">
                <a href="images/img9.jpeg" download="Image1">
                    Download
                </a>
            </div>
        </div>
    </div>
    <br><br><br><br>
</body>
</html>