form{
    height: 300px;
    width: auto;
}
label{
    color: black;
}
input{
    width: 500px;
    border: none;
    background: none;
}
input:focus{
    border: 1px solid black;
}
input:not(:focus){
    border: none;    
}
button{
    width: 200px;
}
